.menu-item,
.menu-open-button {
    background: var(--white);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    margin-left: 0;
    position: absolute;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform ease-out 200ms;
    transition: -webkit-transform ease-out 200ms;
    transition: transform ease-out 200ms;
    transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

.menu-avatar {
    width: 2rem;
    height: 2rem;
}

.menu-open {
    display: none;
}

.lines {
    width: 1.2rem;
    height: 2px;
    background: var(--white);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -0.3rem;
    -webkit-transition: -webkit-transform 200ms;
    transition: -webkit-transform 200ms;
    transition: transform 200ms;
    transition: transform 200ms, -webkit-transform 200ms;
}

.line-1,
.line-2 {
    -webkit-transform: translate3d(-2rem, 0, 0) rotate(90deg);
    transform: translate3d(-2rem, 0, 0) rotate(90deg);
}

.menu-open:checked + .menu-open-button .line-1 {
    -webkit-transform: translate3d(-0.5rem, 0, 0) rotate(45deg);
    transform: translate3d(-0.5rem, 0, 0) rotate(45deg);
}

.menu-open:checked + .menu-open-button .line-2 {
    -webkit-transform: translate3d(-0.5rem, 0, 0) rotate(-45deg);
    transform: translate3d(-0.5rem, 0, 0) rotate(-45deg);
}

.menu {
    position: fixed;
    top: 1.5rem;
    left: 2rem;
    width: 2rem;
    height: 2rem;
}

.menu-item:nth-child(3), 
.menu-item:nth-child(4) 
.menu-item:nth-child(5) 
.menu-item:nth-child(6) 
.menu-item:nth-child(7) 
.menu-item:nth-child(8) 
.menu-item:nth-child(9) {
    -webkit-transition-duration: 180ms;
    transition-duration: 180ms;
}

.menu-open-button {
    z-index: 2;
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    cursor: pointer;
}

.menu-open-button:hover {
    -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
    transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked + .menu-open-button {
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transform: scale(0.3, 0.3) translate3d(-100px, 0, 0);
    transform: scale(0.3, 0.3) translate3d(-100px, 0, 0);
}

.menu-open:checked ~ .menu-item {
    -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
    transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}

.menu-open:checked ~ .menu-item:nth-child(3) {
    transition-duration: 480ms;
    -webkit-transition-duration: 480ms;
    -webkit-transform: translate3d(15px, 0, 0);
    transform: translate3d(15px, 0, 0);
}

.menu-open:checked ~ .menu-item:nth-child(4) {
    transition-duration: 380ms;
    -webkit-transition-duration: 380ms;
    -webkit-transform: translate3d(60px, 0, 0);
    transform: translate3d(60px, 0, 0);
}

.menu-open:checked ~ .menu-item:nth-child(5) {
    transition-duration: 280ms;
    -webkit-transition-duration: 280ms;
    -webkit-transform: translate3d(105px, 0, 0);
    transform: translate3d(105px, 0, 0);
}

.menu-open:checked ~ .menu-item:nth-child(6) {
    transition-duration: 180ms;
    -webkit-transition-duration: 180ms;
    -webkit-transform: translate3d(150px, 0, 0);
    transform: translate3d(150px, 0, 0);
}



@media screen and (min-width: 600px) {
    .menu-item,
    .menu-open-button {
        width: 3rem;
        height: 3rem;
    }

    .menu-avatar {
        width: 3rem;
        height: 3rem;
    }

    .lines {
        margin-left: -0.6rem;
    }

    .line-1,
    .line-2 {
        -webkit-transform: translate3d(0, 2.5rem, 0);
        transform: translate3d(0, 2.5rem, 0);
    }

    .menu-open:checked + .menu-open-button .line-1 {
        -webkit-transform: translate3d(0, 1.5rem, 0) rotate(45deg);
        transform: translate3d(0, 1.5rem, 0) rotate(45deg);
    }

    .menu-open:checked + .menu-open-button .line-2 {
        -webkit-transform: translate3d(0, 1.5rem, 0) rotate(-45deg);
        transform: translate3d(0, 1.5rem, 0) rotate(-45deg);
    }

    .menu {
        top: 90%;
        left: 1.5rem;
        width: 3rem;
        height: 3rem;
    }

    .menu-open:checked + .menu-open-button {
        -webkit-transform: scale(0.2, 0.2) translate3d(0, 100px, 0);
        transform: scale(0.2, 0.2) translate3d(0, 100px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(3) {
        -webkit-transform: translate3d(0, -40px, 0);
        transform: translate3d(0, -40px, 0);
    }
    
    .menu-open:checked ~ .menu-item:nth-child(4) {
        -webkit-transform: translate3d(0, -110px, 0);
        transform: translate3d(0, -110px, 0);
    }

    .menu-open:checked ~ .menu-item:nth-child(5) {
        -webkit-transform: translate3d(0, -180px, 0);
        transform: translate3d(0, -180px, 0);
    }
    
    .menu-open:checked ~ .menu-item:nth-child(6) {
        -webkit-transform: translate3d(0, -250px, 0);
        transform: translate3d(0, -250px, 0);
    }

}